<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php" colors="true">
  <testsuites>
    <testsuite name="Start">
      <file>./tests/units/Start/AudienceTest.php</file>
    </testsuite>

    <testsuite name="Data">
      <directory>./tests/units/Contents/Data</directory>
    </testsuite>
    
    <testsuite name="Lists">
      <directory>./tests/units/Contents/Models/Lists</directory>
    </testsuite>

    <testsuite name="End">
      <file>./tests/units/End/AudienceTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>